    body::before {
        display: block;
        content: '';
        height: 60px;
    }


    /*footer*/
    .copyright {
        background-color: #FFD5C8;
        color: black;
        font-size: 15px;
        font-family: roboto;
        text-align: center;
        padding: 10px;
        letter-spacing: 3px;
    }

    .address-item-1 h3 {
        font-size: 30px;
        font-family: roboto;
        font-weight: 500;
        line-height: 1.4em;
    }

    .address-item-1 span {
        font-size: 20px;
        font-family: roboto;
        color: white;
    }

    /* /==========================================/ */
    /* NEWS */
    .news-item-1 {
        padding-top: 20px;
        /* margin-right: 40px; */
    }

    .news-item-1 h3 {
        font-size: 25px;
        font-family: roboto;
        line-height: 1.4em;
    }

    .news-item-1 p {
        font-size: 20px;
        font-family: roboto;

    }

    .news-item-1:hover {
        border: 1px solid #00A8A6;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }

    .watch-all-button button {
        font-size: 20px;
        padding: 8px 20px;
        background: #00A8A6;
        border: none;
        border-radius: 0;
    }

    .spacing {
        margin: 0 10px;
    }

    /* ======================================================= */
    /* Slide */
    .carousel {
        width: 100%;
        height: 800px;
        position: relative;
    }

    .carousel>ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .slide {
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: 200ms opacity ease-in-out;
        transition-delay: 200ms;
    }

    .slide>img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .slide[data-active] {
        opacity: 1;
        z-index: 1;
        transition-delay: 0ms;
    }

    .carousel-button {
        position: absolute;
        z-index: 2;
        background: none;
        border: none;
        font-size: 4rem;
        top: 50%;
        transform: translateY(-50%);
        color: #00A8A6;
        cursor: pointer;
        border-radius: .25rem;
        padding: 0 .5rem;
    }

    .carousel-button:hover,
    .carousel-button:focus {
        color: white;
        background-color: rgba(0, 0, 0, .2);
    }

    .carousel-button:focus {
        outline: 1px solid black;
    }

    .carousel-button.prev {
        left: 1rem;
    }

    .carousel-button.next {
        right: 1rem;
    }

    @media only screen and (max-width: 768px) {
        .pic-to-hide {
            display: none;
        }

        .wrapper__Doctor {
            flex-direction: column;
        }
    }

    /* ======================================================================= */

    /*=======================*/
    .p-5-2 {
        padding: 5px !important;
    }

    /*==========================*/
    #sidebar {

        /* width: 100%; */
        background-color: #C9FDFF !important;
        min-height: 100vh;
        font-size: 20px;
        color: white;
        z-index: 2000;
    }

    .special {
        display: flex;
        justify-content: space-between;
    }

    /* ==========================================================================*/

    /* navigation */
    .color-nav {
        color: #010101 !important;

    }

    /* Picure-main-page */
    #Picure-main-page {
        background-color: #D2D2D0 !important;
    }

    /* Doctors */
    #Doctors {
        background: url(img/news-item/2.png);
        background-size: cover;
    }

    .pic {
        margin: 0;
        padding: 0;
    }

    .pic:before {
        content: '';
        display: block;
        position: absolute;
        height: 0%;
        width: 100%;
        bottom: 0;
        transition: height 0.5s ease-out;
        background: linear-gradient(to bottom, transparent 0%, #1aa3a1 100%);
    }

    .pic:hover:before {
        height: 15%;
    }

    .pic {
        position: relative;
    }

    .text-style-doctor {
        position: relative;
        top: -50px;
        font-family: roboto;
        font-size: 28px;
        color: white;
        font-weight: bold;
    }
    .text-style-doctor p:hover{
        display: block;
    }


    /* Showcase-product */
#Showcase-product{

}
/* Korea-services ======================================================================*/
#Korea-services{
    max-height: 960px;
    margin: 150px 0px;
}
.btn-Korea-services{
    margin-left: 10px;
    margin-top: 50px;
    margin-left: 22px;
    border: 1px solid #EE6C4D;
    border-radius: 0;
    background-color: #EE6C4D;
    color: white;
    font-family: roboto;
    font-size: 19px;
    font-weight: lighter;
    padding: 12px 16px;
    text-decoration: none;
}
.btn-Korea-services:hover{
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    background-color: #FF3100;
    color: white;
    transition: 0.3s;
}
.p-2-h2-services{
    font-family: roboto; font-size:45px; font-weight: lighter; margin-right: 45px;
}
.p-2-h3-strong-services{
    font-family: roboto; font-size:50px; font-weight: bolder; margin-bottom: 1em; margin-right: 45px;
}
.btn-wrapper-korea-services{
    text-align: left; margin-left: 60px;
}
/* responsive */
@media only screen and (max-width: 768px) {
    .p-2-h2-services{
        /* font-size: 35px; */
        font-size: calc(45px - 1.5rem);
        margin-right: 0px;
    }
    .p-2-h3-strong-services{
        font-size: 35px;
        margin-right: 0px;
    }
    .btn-wrapper-korea-services{
        text-align: right;
    }
    .btn-Korea-services{
        text-align: right;
    }
  }
/* End Korea-services ======================================================================*/

/* Skin_care_korea =========================================================================*/
  #Skin_care_korea{
    max-height: 960px;
    margin: 180px 0px;
  }
  .p-2-h2-text-skin-care-korea{
      font-family: roboto;
      font-size: 55px;
      font-weight: lighter;
      margin-left: 45px; 
      /* margin-right: 90px;  */
      
  }
  .p-2-h2-text-skin-care-korea strong{
      font-weight: 800;
  }
  
  #Skin_care_korea > div > div > div:nth-child(1) > div > div.d-md-block.collapse > h3 > strong{
    font-family: roboto;
    font-size: 55px;
    font-weight: bold;
    margin-left: 45px;
    /* margin-right: 50px; */
    color: black;
  }
  #Skin_care_korea > div > div > div:nth-child(1) > div > div:nth-child(4){
      text-align: right;
      /* margin-right: 90px; */
  }
  #Skin_care_korea > div > div > div.col-md-5 > div > div:nth-child(5){
      text-align: right;
      margin-top: 50px;
      margin-right: 80px;
  }
/* responsive */
@media only screen and (max-width: 768px) {
    #Skin_care_korea > div > div > div:nth-child(1) > div > div:nth-child(2) > h2{
        font-size: 35px;
        margin: 0;
    }
    #Skin_care_korea > div > div > div.col-md-5 > div > div:nth-child(5){
        text-align: left;
        margin-left: 0;
        
    }
    #Skin_care_korea > div > div > div.col-md-5 > div > div:nth-child(5)>a{
        text-align: left;
        margin-left: 0;
        
    }
}
/* end Skin_care_korea */
/* * Dich-Vu-Noi-Bat ========================================*/ */
#Dich-Vu-Noi-Bat{
    max-height: 980px;
    width: auto;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 15px;
  }
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 13px;
      width: 15px;
      height: 15px;
  }
  :root{
    --swiper-theme-color: #84EDEC;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    color:#00A8A6;
    
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    color:#00A8A6;
    
}
.pic:before {
    content: '';
    display: block;
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: 0;
    transition: height 0.5s ease-out;
    background: linear-gradient(to bottom, transparent 0%, #1aa3a1 100%);
}
/*  */
/* content-header */
#introduce-content{
    height: 960px;
}
  /* ============== */